<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SENTIFY</title>
    <link rel="shortcut icon" href="assets/logo.svg" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script src="script.js"></script>
  </head>

  <body>
    <div class="desktop-1-EP9" id="13:63">
      <div class="frame-3-2K1" id="16:65">
        <div class="auto-group-jlgf-uQj" id="S692gEWqC2g6sfNxchjLgF">
          <div class="auto-group-5nas-QMV" id="S693G8i1go4wMh7FMA5nAs">
            <p class="sentify-WvK" id="16:66">SENTIFY</p>
            <div class="frame-Mvw" id="16:123">
              <img class="group-tR5" src="assets/Frame.png" id="16:125" />
              <p class="item-2023-t5d" id="16:131">2023</p>
            </div>
          </div>
          <div class="auto-group-kozq-LTR" id="S692u4UnthREFExCnVkoZq">
            <div class="auto-group-ejip-sy9" id="S6931JoPB7ZRkCrB2JejiP">
              <div class="group-2-2LF" id="16:146">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="34"
                  height="31"
                  viewBox="0 0 34 31"
                  fill="none"
                >
                  <rect
                    x="34.0055"
                    y="23.1404"
                    width="10"
                    height="36"
                    transform="rotate(130 34.0055 23.1404)"
                    fill="#480E69"
                  />
                  <rect
                    x="6.42798"
                    y="30.8009"
                    width="10"
                    height="36"
                    transform="rotate(-130 6.42798 30.8009)"
                    fill="#480E69"
                  />
                </svg>
              </div>
              <img
                class="crisprwhite-1-1-BMZ"
                src="assets/CRISPR_white (1) 1.png"
                id="16:147"
              />
            </div>
          </div>
        </div>
        <p class="solve-a-thon-ncF" id="16:97">SOLVE-A-THON</p>
        <div class="auto-group-j8p9-Jab" id="S693fnhGH7norwZuXgj8P9">
            <p class="positive-reviews-3KD" id="16:77">Positive Reviews</p>
          <div class="rectangle-12-AFR" id="16:104"></div>
          <p class="sentiment-score-w9h" id="16:95">Sentiment Score</p>
          
          <p class="keywords-2Gw" id="16:102">Keywords</p>
          <textarea name="item--Q2b" id="response" cols="50" rows="20">{{ response.h }}</textarea>
          <p class="item-35-G9M" id="16:93">35</p>
          <p class="out-of-100-8ST" id="16:94">out of 100</p>>
        </div>
      </div>
    </div>
  </body>
</html>
